<div class="formStyle">
    <div class="head">
        <h2> Login <span class="glyphicon glyphicon-share"></span></h2>
    </div>
    <div class="body">
        <form [formGroup]="loginForm" class="form-horizontal" (ngSubmit)="onSubmit()">
            <div class="form-group" [ngClass]="{'has-error' : hasError('email')}">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" (blur)="getFormError()" class="form-control" id="email" formControlName="email" placeholder="Email">
                    <span class="help-block" *ngIf="hasError('email')">
                        {{ loginFormErrors.email }}
                    </span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error' : hasError('password')}">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" (blur)="getFormError()" class="form-control" id="password" formControlName="password" placeholder="Password">
                    <span class="help-block" *ngIf="hasError('password')">
                        {{ loginFormErrors.password }}
                    </span>
                </div>
            </div>
            <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" [disabled]="loginForm.invalid" class="btn col-sm-12">Login</button>
            </div>
            </div>
        </form>
    </div>
</div>