.navbar {
    background-color: #000000;
    border: none;
    border-radius: 0;
}
.navbar .navbar-nav>li>a {
    color: #fff;
}
.navbar .navbar-nav>li>a.active {
    background-color: #101010;
    color: #3f3fab;
    font-weight: bold;
}
.navbar-brand{
    letter-spacing: 3px;
    font-family: monospace;
}
.navbar-brand {
    color: #FF9800;
    font-weight: bold;
}
.nav>li>a:hover {
    background-color: #151515;
}